.main {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.light-blue {
    background: #2378FC;
}

.dark-blue {
    background: #30BCC9;
    ;
}

.yellow {
    background: #FFC41E;
}

.red {
    background: #F6404F;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 180px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.header__list {
    display: flex;
}

.header__list-element {
    list-style-type: none;
    padding-right: 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
}

.header__list-element:last-child {
    padding-right: 0;
}

.header__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
}

.forum {
    display: flex;
    padding: 184px 405px 156px;
    color: #ffffff;
}

.forum__main-title {
    display: block;
    max-width: 535px;
    margin-right: 152px;
}

.forum__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 160%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.forum__subtitle {
    margin: 0;
    padding: 35px 0 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
}

.forum__about {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    margin: 0;
}

.forum__grids {
    display: grid;
    max-width: 540px;
    max-height: 353px;
    grid-template-columns: repeat(auto-fill, 255px);
    grid-gap: 30px;
    position: relative;
    top: 90px;
    left: 0;
}

.forum__grid {
    box-sizing: border-box;
    min-height: 148px;
}

.forum__grid-title {
    max-width: 175px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    margin: 30px auto 15px 40px;
}

.forum__grid-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    margin: 0 auto 30px 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 75px 405px;
    color: #ffffff;
}

.navigation__list {
    max-width: 168px;
    margin: 0;
}

.navigation__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    padding-bottom: 30px;
    margin: 0;
}

.navigation__item {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    padding-bottom: 15px;
    margin: 0;
    position: relative;
    top: 0;
    left: -35px;
}

.navigation__item:last-child {
    padding-bottom: 0;
}

.grid {
    padding: 75px 405px 80px;
}

.grid__topic {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.grid__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    margin: 0;
}

.grid__full-list {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    text-decoration: underline;
    margin: 0;
}

.grid__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 358px);
    grid-row-gap: 40px;
    grid-column-gap: 14px;
}

.grid__image {
    padding-bottom: 20px;
}

.grid__title-meet {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: #F6404F;
    margin: 0;
    padding: 10px 0;
}

.grid__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    margin: 0;
}

.grid__text_data {
    font-size: 14px;
}

.news {
    display: flex;
    justify-content: space-between;
    padding: 75px 405px 85px;
    background-color: #FAF3E3;
}

.news__main {
    max-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 125px;
}

.news__topic {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.news__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #2E373B;
    margin: 0;
}

.news__subtitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #2E373B;
    margin: 0;
}

.news__item {
    display: flex;
    list-style-type: none;
}

.news__image {
    margin-right: 30px;
}

.footer {
    padding: 60px 410px 70px;
    color: #E0E0E0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 163px);
    grid-row-gap: 40px;
    grid-column-gap: 122px;
}

.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    list-style-type: none;
    margin-bottom: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.footer__list-zone {
    padding: 0;
}

.footer__list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    margin-bottom: 10px;
    list-style-type: none;
}

.footer__list-item:last-child {
    margin-bottom: 0;
}

.link {
    max-width: 219px;
    display: flex;
    justify-content: space-between;
}